{% extends 'layout.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}

{% block content %}
<section class="section-account">
    <h1>С возвращением!</h1>
    <div class="div-register-card">
        <form method="POST" action="{% url 'verify-code' %}">
            {% csrf_token %}
            <input class="email" name="email" placeholder="email">
            <input class="password" name="password" placeholder="Пароль">
            <input type="submit" class="submit" name="submit" value="Войти">
        </form>
    </div>
</section>
{% endblock %}