.main-site-info {
    border: black 1.6px solid;
    border-left: 0px;
    border-right: 0px;
    background-color: #C6C6C6;
    height: 320px;
}

.main-site-info-text {
    margin-top: 35px;
    margin-left: 100px;
    font-family: 'poiret one', sans-serif;
    width: 920px;
}

.greeting {
    height: 110px;
}

.main-site-info-text h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.main-site-info-text p {
    font-size: 24px;
    margin: 0;
}

.profesion-info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profesion-info-card {
    background-color: #C6C6C6;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}