{% extends 'layout.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}

{% block greeting %}
<section class="main-site-info">
    <div class="main-site-info-text">
        <div class="greeting">
            <h2>Добро пожаловать на QA Engineer - сайт, посвященный профессии тестировщика  </h2>
        </div>
        <div class="after-greeting">
            <p>Сайт создан, чтобы познакомить пользователя с профессией тестировщика. На разных вкладках можно увидеть различную интересную информацию и статистические данные об этой  увлекательной профессии. На данной странице предлагаем вам ознакомиться с тем, что вообще из себя представляет работа тестировщиком</p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="profesion-info">
<div class="profesion-info-card">
    <p>
        {{ profession_info }}
    </p>
</div>
</section>
{% endblock %}