.nav-panel ul li:nth-child(6) a {
    color: #eb5959;
    transform: scale(1.05);
}

.header-inline {
    border-bottom: black solid 1px;
}

.vacancies-title-div {
    height: 68px;
    width: 100%;
    background-color:#E4E4E4;
}

.vacancies-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    text-align: center;
}

.vacancies-title a {
    text-decoration: none;
}

main {
    height: max-content;
}

.cards-section {
    width: 100%;
    background-color: #E4E4E4;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.card {
    margin: 0;
    padding: 0;
    margin-left: 170px;
    margin-bottom: 30px !important;
    width: 1155px;
    background-color: white;
    border-radius: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;

}

.card-title h2 {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    text-align: center;
}

.card-description {
    margin-left: 30px;
}

.card-description ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card-description li p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
}

 .card-description li:not(:has(p)) {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.card-skills p, .card-employer p, .card-salary p, .card-area p, .card-published-at p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    line-height: 25px;
}

.card-published-at p {
    padding-bottom: 30px;
}

.card div {
    margin-bottom: 30px;
}